---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
# aitoolpro.work: Your Compass in the AI Universe

In the rapidly evolving world of artificial intelligence, how do you quickly find the AI tools that suit your needs? aitoolpro.work offers the perfect solution.

## Why Choose aitoolpro.work?

### 1. Rich Diversity of AI Tools

We've carefully curated a collection of AI websites with various functionalities, covering:

- Text generation
- Image processing
- Voice recognition
- And much more

Whether you're a student, professional, or creative, you'll find an AI assistant that fits your needs.

### 2. Intuitive Navigation Interface

Say goodbye to tedious searching! Our website boasts a clean, user-friendly design that allows you to:

- Effortlessly browse AI tools
- Quickly locate the tools you need
- Save time and boost productivity

### 3. Powerful Notion-Based Backend

Leveraging Notion's flexibility and collaborative features, we:

- Update our website content in real-time
- Ensure you always have access to the latest AI tool information
- Provide a seamless, up-to-date user experience

### 4. Continuous Updates, Always Current

AI technology evolves rapidly, and our team:

- Stays on top of industry trends
- Constantly adds emerging AI tools
- Keeps you at the cutting edge of AI innovation

### 5. Community Interaction and Sharing

Join our user community to:

- Share experiences with fellow AI enthusiasts
- Discover hidden AI gems
- Get tips and tricks from power users

## Embark on Your AI Journey

Whether you're new to AI or an experienced user, aitoolpro.work will be your trusted companion in exploring the AI world. 

**Visit [aitoolpro.work](https://aitoolpro.work) and embrace the limitless possibilities AI has to offer!**

> Take action now and step into the new era of intelligence!

---

*aitoolpro.work - Navigating the Future of AI, Today.*
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">aitoolpro.work: Your Compass in the AI Universe</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://aitoolpro.work/" class="btn btn-lg btn-primary sm:btn-wide">Visit aitoolpro.wrok</a>
    </p>
</Layout>
